<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="Romania, Disconver, Points of interest">
    <meta name="description" content="Discover Romania. Habits and traditions, historical events, points of interest, etc.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>JRS - DR</title>
    <link rel="icon" type="image/png" href="~/favicon.png"/>

    <environment Names="Development">
        <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link asp-append-version="true" rel="stylesheet" href="~/lib/toastr/toastr.css"/>
        <link asp-append-version="true" rel="stylesheet" href="~/lib/summernote/dist/summernote.css"/>
        <link asp-append-version="true" rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css"/>
        <link asp-append-version="true" rel="stylesheet" href="~/css/custom.css"/>
    </environment>
    <environment Names="Staging,Production">
        <link asp-append-version="true" rel="stylesheet" href="~/css/site.min.css"/>
    </environment>
</head>
<body>
    <div class="jumbotron">
        <div class="container-fluid">
            @Html.Hidden("DefaultUrl", Url.Content("~"))
            @RenderBody()
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 footer">
            <div class="text-center">
                <strong><i class="fa fa-copyright" aria-hidden="true" 0>&copy;&nbsp;2017</i>&nbsp;|&nbsp;JRS Discover Romania Team</strong>
            </div>
        </div>
    </div>
    <environment Names="Development">
        <script asp-append-version="true" src="~/lib/jquery/dist/jquery.js"></script>
        <script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script asp-append-version="true" src="~/lib/toastr/toastr.js"></script>
        <script asp-append-version="true" src="~/lib/summernote/dist/summernote.js"></script>
        <script asp-append-version="true" src="~/js/objectives.js"></script>
        <script asp-append-version="true" src="~/js/createEditObjective.js"></script>
        <script asp-append-version="true" src="~/js/initMap.js"></script>
    </environment>
    <environment Names="Staging,Production">
        <script asp-append-version="true" src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("scripts", false)
    <script>
        $(document).ready(function() {
            const success = '@ViewBag.Success';
            if (success !== "")
                toastr.success(success);

            const error = '@ViewBag.Error';
            if (error != '')
                toastr.error(error);
        });
    </script>
</body>
</html>